@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.App {
  margin: 1%;
  padding-top: 1.352vw;
}

h1 {
  padding-bottom: 1.352vw;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(58, 121, 62)
}

.album-list {
  margin: 0, auto;
  display: flex;
  flex-direction: row;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  cursor: pointer;
  background: none;
  border: none;
  height: fit-content;
  width: fit-content;
  transition: 400ms ease-out;
  margin-bottom: 5.208vw;
  width: 15vw;
  text-decoration: none;
}

.album:hover {
  transform: translateY(-0.521vw);
}

.album-img, .album-page-img {
  height: 15vw;
  border-radius: 1.042vw;
  box-shadow: 0px 5px 10px lightslategray;
  pointer-events: none;
}

.album-name, .artists-names {
  color: black;
  text-align: start;
  overflow-wrap: break-word;
}

.artists-names {
  font-style: italic;
  font-size: small;
  color: rgb(58, 121, 62);
}

.artist-link {
  color: rgb(58, 121, 62);
  text-decoration: none;
  font-style: normal;
}

.artist-link:hover {
  text-decoration: underline;
}

/* ===== ALBUM PAGE ===== */

.album-page {
  margin: 1%;
  padding-top: 1.352vw;
  justify-content: center;
  text-align: center;
}

.album-page-img {
  text-align: center;
}

.album-page-infos {
  width: 20vw;
  margin: auto;
}

.homepage-btn {
  background-color: rgb(58, 121, 62);
  padding: 1vw;
  border-radius: 1.042vw;
  transition: 300ms ease-out;
  margin: 2.604vw auto;
  width: fit-content;
}

.homepage-btn a {
  color: white;
  text-decoration: none;
}

.homepage-btn:hover {
  filter: brightness(150%);
}

.spotify-link {
  color: rgb(58, 121, 62);
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}