@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.App {
  margin: 1%;
  padding-top: 1.352vw;
}

h1 {
  padding-bottom: 1.352vw;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(58, 121, 62)
}

/* ===== V LOADING ANIMATION V ===== */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(58, 121, 62);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading {
  text-align: center;
  padding-top: 10%;
}

/* ===== ^ LOADING ANIMATION ^ ===== */

.album-list {
  margin: 0, auto;
  display: flex;
  flex-direction: row;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  cursor: pointer;
  background: none;
  border: none;
  height: fit-content;
  width: fit-content;
  transition: 400ms ease-out;
  margin-bottom: 5.208vw;
  width: 15vw;
  text-decoration: none;
}

.album:hover {
  transform: translateY(-0.521vw);
}

.album-img, .album-page-img {
  height: 15vw;
  border-radius: 1.042vw;
  box-shadow: 0px 5px 10px lightslategray;
  pointer-events: none;
}

.album-name, .artists-names {
  color: black;
  text-align: start;
  overflow-wrap: break-word;
}

.artists-names {
  font-style: italic;
  font-size: small;
  color: rgb(58, 121, 62);
}

.artist-link {
  color: rgb(58, 121, 62);
  text-decoration: none;
  font-style: normal;
}

.artist-link:hover {
  text-decoration: underline;
}

/* ===== ALBUM PAGE ===== */

.album-page {
  margin: 1%;
  padding-top: 1.352vw;
  justify-content: center;
  text-align: center;
}

.album-page-img {
  text-align: center;
}

.album-page-infos {
  width: 20vw;
  margin: auto;
}

.homepage-btn {
  background-color: rgb(58, 121, 62);
  padding: 1vw;
  border-radius: 1.042vw;
  transition: 300ms ease-out;
  margin: 2.604vw auto;
  width: fit-content;
  border: 0;
  cursor: pointer;
}

.homepage-btn span {
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.homepage-btn:hover {
  filter: brightness(150%);
}

.spotify-link {
  color: rgb(58, 121, 62);
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}